*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-Image: url('images/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}